<!DOCTYPE HTML>
<html lang="en" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta HTTP-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
<body>

<div ng-controller="TestController as $ctrl">
    <h1 ng-repeat="name in $ctrl.familyMembers">{{name.name}}
        {{name.relation}} {{name.age}}
    </h1>
    <input type="text" ng-model="$ctrl.newName"/>
    <button ng-click="$ctrl.addName()">Submit</button>
</div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
    <script src="index.js"></script>
    <script src="test-controller.js"></script>
</body>
</html>